<footer id="main-footer" class="main-footer">
	<div class="inner">
		<div class="main-footer__content">
			<div class="main-footer__clmL">
				<a href="<%= RELATIVE_PATH %>" class="main-footer__logo"><img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="" width="200"></a>
				<p class="main-footer__address">〒555-0011<br>大阪市西区靭本町2-2-22 ウツボパークビル8F</p>
				<p class="main-footer__tel">TEL:050-3184-0915</p>
			</div>
			<div class="main-footer__clmR">
				<nav class="main-footer__nav">
					<ul class="main-footer__menu" role="list">
						<li class="main-footer__menu-item"><a href="<%= RELATIVE_PATH %>">わたしたちについて</a></li>
						<li class="main-footer__menu-item"><a href="<%= RELATIVE_PATH %>" class="main-footer__link">メニュー・料金</a>
							<ul class="main-footer__menusub" role="list">
								<li class="main-footer__menusub-item"><a href="<%= RELATIVE_PATH %>" class="main-footer__sublink">WordPress制作サービス</a></li>
								<li class="main-footer__menusub-item"><a href="<%= RELATIVE_PATH %>" class="main-footer__sublink">Welcart制作サービス</a></li>
								<li class="main-footer__menusub-item"><a href="<%= RELATIVE_PATH %>" class="main-footer__sublink">ECサイト制作サービス</a></li>
							</ul>
						</li>
					</ul>
					<ul class="main-footer__menu" role="list">
						<li class="main-footer__menu-item"><a href="<%= RELATIVE_PATH %>work/" class="main-footer__link">実績紹介</a></li>
						<li class="main-footer__menu-item"><a href="<%= RELATIVE_PATH %>safety/" class="main-footer__link">制作の流れ</a></li>
						<li class="main-footer__menu-item"><a href="<%= RELATIVE_PATH %>faq/" class="main-footer__link">よくある質問</a></li>
					</ul>
					<ul class="main-footer__menu" role="list">
						<li class="main-footer__menu-item"><a href="<%= RELATIVE_PATH %>" class="main-footer__link">個人情報保護方針</a></li>
						<li class="main-footer__menu-item"><a href="<%= RELATIVE_PATH %>contact/" class="main-footer__link">お問い合わせ</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<small class="main-footer__copyright">Copyright &copy;2022 coding LABO</small>
	</div>
	<a href="#" class="btn-fix-contact js-contact"><i class="fa-solid fa-envelope"></i>お問い合わせはこちら</a>
</footer>

