<div class="cms-main">
	<%- include('common/_sidebar'); %>
	<div class="cms-content">
		<%- include('common/_header'); %>
		<div class="candidate-page">
			<div class="candidate-heading">
				<ul class="candidate-heading__tabs c-tabs">
					<li data-tab="approved" class="is-active">Đã được duyệt</li>
					<li data-tab="waiting-approval">Chờ duyệt (5)</li>
				</ul>
				<div class="candidate-heading__dropdown">
					<a href="#" class="c-btn__01 c-btn__01--dropdown js-dropdown">Tạo mới</a>
					<ul class="c-dropdown">
						<li><a href="#"><img src="../img/candidate/user.png" alt="" width="20">Cá nhân</a></li>
						<li><a href="#"><img src="../img/candidate/building-4.png" alt="" width="20">Công ty</a></li>
					</ul>
				</div>
			</div>
			<div class="candidate-page__control">
				<ul class="candidate-page__search">
					<li class="candidate-page__search-field candidate-page__search-field--keyword">
						<input type="text" class="form-control" placeholder="Tìm kiếm">
					</li>
					<li class="candidate-page__search-field candidate-page__search-field--exp">
						<select name="" id="" class="form-control form-control--select">
							<option value="">Kinh nghiệm</option>
							<option value="">--</option>
							<option value="">--</option>
						</select>
					</li>
					<li class="candidate-page__search-field candidate-page__search-field--wish">
						<span class="form-control form-control--select js-dropdown">Nguyện vọng</span>
						<ul class="c-dropdown">
							<li><a href="#">Có</a></li>
							<li><a href="#">Không</a></li>
							<li><a href="#">Xem xét</a></li>
						</ul>
					</li>
					<li class="candidate-page__search-field candidate-page__search-field--status">
						<select name="" id="" class="form-control form-control--select">
							<option value="">Trạng thái</option>
							<option value="">--</option>
							<option value="">--</option>
						</select>
					</li>
					<li class="candidate-page__search-field candidate-page__search-field--object">
						<select name="" id="" class="form-control form-control--select">
							<option value="">Đối tượng</option>
							<option value="">--</option>
							<option value="">--</option>
						</select>
					</li>
					<li class="candidate-page__search-field candidate-page__search-field--filter-advended">
						<input type="text" class="form-control" placeholder="Tìm kiếm nâng cao">
					</li>
				</ul>
			</div>
			<div class="tabs-content current" id="approved">
				<div class="cms-wrapper">
					<%- include('table/_table_candidate.ejs'); %>
				</div>
				<%- include('common/_area_footer.ejs'); %>
			</div>
			<div class="tabs-content" id="waiting-approval">
				<div class="cms-wrapper">
					<%- include('table/_table_candidate_02.ejs'); %>
				</div>
				<%- include('common/_area_footer.ejs'); %>
			</div>
		</div>
	</div>
</div>



