	<section class="top-mainvisual">
		<img src="<%= RELATIVE_PATH %>img/index/mv.jpg" alt="" class="top-mainvisual__image pc">
		<img src="<%= RELATIVE_PATH %>img/index/mv-sp.jpg" alt="" class="top-mainvisual__image sp">
		<div class="top-mainvisual__content">
			<h1 class="top-mainvisual__ttl">頼れる<br>コーディング代行</h1>
			<p class="top-mainvisual__desc-jp">スグ依頼できる！即日対応可能！</p>
			<p class="top-mainvisual__desc-en">Reliable coding agency.</p>
		</div>
	</section>


	
	<section class="top-about">
		<div class="top-about__inner inner">
			<div class="top-about__image"><img src="<%= RELATIVE_PATH %>img/index/mv-sp.jpg" alt="" class="c-img-of"></div>
			<div class="top-about__content">
				<h2 class="top-about__ttl c-ttl__01 js-scrollin">ABOUT US</h2>
				<div class="top-about__desc">
					<h3 class="top-about__desc-ttl c-ttl__02 js-scrollin">コーディング代行<span class="c-ttl__02-cap">分かりやすい料金設定でご提供</span></h3>
					<p class="top-about__desc-txt c-txt__01 js-scrollin">スタッフの手が足りないお急ぎの案件も、短納期で納品対応させていただきます！<br>年間の制作実績は5,000ページ以上。<br>80%以上のお客様から再度ご依頼いただいています。</p>
				</div>
				<div class="js-scrollin"><a href="<%= RELATIVE_PATH %>about/" class="c-btn__01">私たちについて</a></div>	
			</div>
		</div>
	</section>
	<section class="top-service">
		<div class="inner">
			<div class="top-service__content">
				<h2 class="top-service__ttl c-ttl__01 js-scrollin">OUR SERVICE</h2>				
				<div class="top-service__desc">
					<h3 class="top-service__desc-ttl c-ttl__02 js-scrollin">選ばれる理由</h3>
					<div class="top-service__txt">
						<p class="c-ttl__02"><span class="c-ttl__02-cap js-scrollin">重量物輸送に特化した専門性</span></p>
						<p class="top-service__desc-txt c-txt__01 js-scrollin">年間の制作実績は5,000ページ以上。80%以上のお客様から再度ご依頼いただいています。<br>基本料金0円のシンプル価格。分かりやすい料金設定でご提供するコーディング代行サービス</p>
					</div>
				</div>
			</div>
			<ul class="top-service__list" role="list">
				<li class="top-service__list-item js-scrollin"><a href="<%= RELATIVE_PATH %>service/" class="top-service__list__link mh">
					<div class="c-al__c top-service__list__image"><img src="<%= RELATIVE_PATH %>img/index/img03.png" alt="" width="120"></div>
					<h4 class="top-service__list__heading">確かな実績</h4>
					<p class="top-service__list__desc">年間の制作実績は5,000ページ以上。<br>80%以上のお客様から再度ご依頼いただいています。</p>
				</a></li>
				<li class="top-service__list-item js-scrollin"><a href="<%= RELATIVE_PATH %>service/" class="top-service__list__link mh">
					<div class="c-al__c top-service__list__image"><img src="<%= RELATIVE_PATH %>img/index/img04.png" alt="" width="120"></div>
					<h4 class="top-service__list__heading">安心の料金システム</h4>
					<p class="top-service__list__desc">基本料金0円のシンプル<br>価格分かりやすい料金設定でご提供するコーディング代行サービス</p>
				</a></li>
				<li class="top-service__list-item js-scrollin"><a href="<%= RELATIVE_PATH %>service/" class="top-service__list__link mh">
					<div class="c-al__c top-service__list__image"><img src="<%= RELATIVE_PATH %>img/index/img05.png" alt="" width="120"></div>
					<h4 class="top-service__list__heading">アフターサポート</h4>
					<p class="top-service__list__desc">1年間の安心保証<br>軽微な修正であれば、1年間無償で対応</p>
				</a></li>
			</ul>
		</div>
	</section>
