<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> -->
	<meta name="viewport" content="width=1920">
	<title><%= pageData.title %></title>
	<meta name="description" content="<%= pageData.description %>">
	<meta name="format-detection" content="telephone=no">
	<link rel="shortcut icon" href="<%= RELATIVE_PATH %>favicon.ico" >
	<link type="text/css" rel="stylesheet" href="<%= RELATIVE_PATH %>css/styles.css">
</head>
<body>
	<main id="page-<%= pageData.template %>" class="wrapper">
		<%- include(pageData.template, {datalabel:'data'}) %>
	</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="<%= RELATIVE_PATH %>js/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="<%= RELATIVE_PATH %>js/setting.js"></script>
<script>
	$( '#type-of-company' ).select2( {
	    width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
	    placeholder: $( this ).data( 'placeholder' ),
	    closeOnSelect: false,
	} );
	
	$(".js-add-type-company").on('click', function () {
		let value_option = $('#input-type-company').val();
		let value_group_option = $('#group-type-company').val();
		let field_option = '<option>' + value_option + '</option>';
		$( '#type-of-company' ).append(field_option);
	})
</script>
</body>
</html>



